# Rust
/target
**/*.rs.bk
Cargo.lock

# Anchor
.mango/
.anchor/
tests/target/
target/

# Node
node_modules
yarn-error.log
npm-debug.log*

# General
.DS_Store

# Ignore test-ledger artifacts
test-ledger/
swap/test-ledger/
